---
layout: base
title: Documentation
description: Troubleshooting, resources, and videos

system_description:
  - title: About Home Assistant Voice Preview Edition
    url: /documentation/about_home-assistant_voice_preview_edition/
  - title: Device overview
    url: /documentation/overview/
  - title: Status colors
    url: /documentation/status_colors/
operation:
  - title: Changing the volume
    url: /guides/volume_change
  - title: Muting the device
    url: /guides/mute
  - title: Turning the wake sound on or off
    url: /guides/wake_sound_toggle
  - title: Stopping the current process
    url: /guides/stop
  - title: Changing the active color
    url: /guides/active_color_change
  - title: Using the center button to trigger automations
    url: /guides/automate
wake_word:
  - title: Changing the wake word
    url: /guides/wake_word_change
  - title: Conversing without wake word
    url: /guides/wake_word_without/
update:
  - title: Updating the device firmware
    url: /guides/update
troubleshooting:
  - title: Resetting the device
    url: /guides/reset/
  - title: Reinstalling the firmware
    url: /guides/firmware-reinstall/
  - title: Reinstalling the firmware from bootloader mode
    url: /guides/firmware-reinstall-from-bootloader/
customize:
  - title: Using automations and scripts to control the device
    url: /guides/automations_scripts/
  - title: Connecting a sensor to the Grove port
    url: /guides/grove_port/
  - title: Disassembling the device
    url: /guides/disassemble/
  - title: Reassembling the device
    url: /guides/reassemble/
  - title: About the internal GPIO pins
    url: /guides/internal-gpio/
---

<div class="container">
  <h1>System description</h1>
  <div class="layout horizontal items">
    {% for guide in system_description %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h1>Using the device</h1>
  <div class="layout horizontal items">
    {% for guide in operation %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h2>Wake word</h2>
  <div class="layout horizontal items">
    {% for guide in wake_word %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h1>Updating</h1>
  <div class="layout horizontal items">
    {% for guide in update %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h1>Troubleshooting</h1>
  <div class="layout horizontal items">
    {% for guide in troubleshooting %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h1>Customizing</h1>
  <div class="layout horizontal items">
    {% for guide in customize %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h1>Resources</h1>
  <div class="layout horizontal items">
    <a href="/resources">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/download-file.png" width="150" />
        </div>
        <h3>Downloads</h3>
      </div>
    </a>
    <a href="/videos">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/online-video.png" width="150" />
        </div>
        <h3>Videos</h3>
      </div>
    </a>
  </div>
</div>
