---
layout: base
title: FAQ
Symptom: FAQ | Voice Preview Edition
sections:
  - name: General
    faqs:
      - title: >
          My device crashed
        content: >      
          <p><b>Symptom</b>: The device was set up successfully and has been used for a while. However, it crashes when playing music and turning it up loud.</p>
          <p><b>Resolution</b>:  Make sure the USB-C plug supplies enough power. The device requires 5&nbsp;V&nbsp;DC, 2&nbsp;A. Try a different plug.<p>
      - title: >
          I don't get a voice response
        content: >      
          <p><b>Symptom</b>: My voice assistant understands me and processes the command, but I don’t get a voice response.
          </p>     
          <p><b>Description</b>: The voice response is generated in Home Assistant by one of our supported text-to-speech (or TTS) engines. The voice assistant device then fetches the audio file from Home Assistant and plays it back.
            This fetching process only works if Home Assistant can communicate its own URL to the device. If you have a complex network setup, or if you changed this setting in the past, the URL communicated could be wrong.            
          </p>
          <p><b>Resolution</b>: Check the Home Assistant URL.             
            <ol>
              <li>Go to your <a class="my" href="https://my.home-assistant.io/redirect/profile/" target="_blank"><b>user profile</b></a> and enable <b>Advanced mode</b>.</li>
              <li><a class="my" href="https://my.home-assistant.io/redirect/network/" target="_blank"><b>Settings</b> > <b>System</b> > <b>Network</b></a>.</li>
              <li>Change your <b>Local Network</b> Home Assistant URL to a URL that can be reached locally and that points to Home Assistant.</li>
              <li>For most users, the <b>Automatic</b> option works and is recommended. 
                <div style="padding: 8px 0px 0px 0px">
                  <img src="/images/local_network_automatic.png" width="300"/>
                </div></li>
            </ol>
      - title: >
          My device lights up red and is unreactive
        content: >      
          <p><b>Symptom</b>: The device status light is red and the device does not respond.            
            <div style="padding: 0px 0px 0px 0px">
              <img src="/images/status_muted.png" width="100"/>
            </div>
          </p>
          <p><b>Resolution</b>: Your device microphone is muted. <a href="/guides/mute/" >Turn off the mute switch</a></p>
      - title: >
          Can’t connect to Wi-Fi during onboarding
        content: >      
          <p><b>Symptom</b>: During onboarding of the device, you cannot connect the device to your Wi-Fi.</p>
          <p><b>Resolution</b>: Try the following steps.
            <ol>
              <li>On your phone, make sure Bluetooth is enabled.</li>
              <li>Make sure the Home Assistant Companion App has Bluetooth permission: 
                <ul>
                  <li>On iPhone, go to <b>Settings</b> > <b>Privacy & Security</b> and enable <b>Bluetooth</b> for Home Assistant.</li>
                </ul>
              </li>
              <li>If you are using an Android phone, make sure <b>precise location</b> is enabled.</li>
              <li>If you have different <abbr title="Service set identifier = Wi-Fi network name">SSIDs</abbr>  (Wi-Fi names) for the 2.4&nbsp;GHz and the 5&nbsp;GHz Wi-Fi networks, make sure you use the credentials for the 2.4&nbsp;GHz network.</li>
              <li>If you are using a Bluetooth proxy:
                <ul>
                  <li>Make sure the proxy is close to the device and to the Home Assistant server.</li>
                  <li>If it still does not work, try a different Bluetooth proxy.</li>
                </ul>
              </li>
            </ol>
          <p>
      - title: >
          I plugged in an external speaker but I only hear one channel
        content: >      
          <p><b>Symptom</b>: You connected an external speaker via the 3.5 mm (⅛”)  stereo audio connector. You can hear sound, but only on one channel.</p>
          <p><b>Resolution</b>:  Unfortunately, there is a gap between the audio connector component on the PCB and the enclosure. Depending on the plug you're using, it might not go all the way in. Please try a different cable.          
            <div style="padding: 0px 0px 0px 0px">
              <img src="/images/audio_jack_faq.jpg" />
            </div></p>
  - name: Wake word
    faqs:
      - title: >
          The device doesn’t react to my wake word, what can I do?
        content: >      
          <p><b>Symptom</b>: The device was set up successfully and has been used for a while. But now, it no longer responds to the wake word.
          </p>
          <p><b>Resolution</b>:  Try a different wake word.
          The standard options are <i>Okay Nabu</i>, <i>Hey Jarvis</i>, and <i>Hey Mycroft</i>.<p>
      
---
  <div class="container">
    {% for section in sections %}
      <div class="section">
        <h2>{{section.name}}</h2>      
        <div class="accordion">
          {% for faq in section.faqs %}
          <div class="accordion-item">
            <button
              aria-expanded="false"
              id="{{ faq.title | slugify }}"
            >
              <a
                href="#{{ faq.title | slugify }}"
                class="anchor"
              >
                <span class="accordion-title">{{faq.title}}</span
                ><span class="icon" aria-hidden="true"></span>
              </a>
            </button>
            <div class="accordion-content">
              <p>{{faq.content}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
  </div>
<script>
  const items = document.querySelectorAll(".section .accordion button");

  function toggleAccordion() {
    const itemToggle = this.getAttribute("aria-expanded");

    for (i = 0; i < items.length; i++) {
      items[i].setAttribute("aria-expanded", "false");
    }

    if (itemToggle == "false") {
      this.setAttribute("aria-expanded", "true");
    }
  }

  items.forEach((item) => item.addEventListener("click", toggleAccordion));

  const urlParts = document.URL.split('#');
  const anchor = (urlParts.length > 1) ? urlParts[1] : null;
  let openedItem = false;
  for (i = 0; i < items.length; i++) {
    const id = items[i].getAttribute("id");
    if (id == anchor) {
      items[i].setAttribute("aria-expanded", "true");
      openedItem = true;
    }
  }
  if (!openedItem) {
    items[0].setAttribute("aria-expanded", "true");
  }
</script>
