---
layout: base
title: FAQ
Symptom: FAQ | Green
sections:
  - name: General
    faqs:
      - title: >
          My device crashed
        content: >      
          <p><b>Symptom</b>: The device was set up successfully and has been used for a while. However, it crashes when playing music and turning it up loud.</p>
          <p><b>Resolution</b>:  Make sure the USB-C plug supplies enough power. The device requires 5 V DC, 2 A. Try a different plug.<p>
      - title: >
          I don't get a voice response
        content: >      
          <p><b>Symptom</b>: My voice assistant understands me and processes the command, but I don’t get a voice response.
          </p>     
          <p><b>Description</b>: The voice response is generated in Home Assistant by one of our supported text-to-speech (or TTS) engines. The voice assistant device then fetches the audio file from Home Assistant and plays it back.
            This fetching process only works if Home Assistant can communicate its own URL to the device. If you have a complex network setup, or if you changed this setting in the past, the URL communicated could be wrong.            
          </p>
          <p><b>Resolution</b>: Check the Home Assistant URL.             
            <ol>
              <li>Go to your <a class="my" href="https://my.home-assistant.io/redirect/profile/" target="_blank"><b>user profile</b></a> and enable <b>Advanced mode</b>.</li>
              <li><a class="my" href="https://my.home-assistant.io/redirect/network/" target="_blank"><b>Settings</b> > <b>System</b> > <b>Network</b></a>.</li>
              <li>Change your <b>Local Network</b> Home Assistant URL to a URL that can be reached locally and that points to Home Assistant.</li>
              <li>For most users, the <b>Automatic</b> option works and is recommended. 
                <div style="padding: 8px 0px 0px 0px">
                  <img src="/images/local_network_automatic.png" width="300"/>
                </div></li>
            </ol>
          <p>
  - name: Wake word
    faqs:
      - title: >
          The device doesn’t react to my wake word, what can I do?
        content: >      
          <p><b>Symptom</b>: The device was set up successfully and has been used for a while. But now, it no longer responds to the wake word.
          </p>
          <p><b>Resolution</b>:  Try a different wake word.
          The standard options are <i>Okay Nabu</i>, <i>Hey Jarvis</i>, and <i>Hey Mycroft</i>.<p>
      - title: >
          I changed the wake word but it does not apply, what can I do?
        content: >      
          <p><b>Symptom</b>: You changed the Assistant or the wake word or both via the normal configuration settings shown below, but the changes are not applied. 
            <div style="padding: 8px 0px 0px 0px">
              <img src="/images/voice_change_config_02.png" width="300"/>
              <img src="/images/voice_voice_assistant_settings.png" width="300"/>
            </div>local_network_automatic
          </p>
          <p><b>Resolution: use the wizard</b>
            <ul>
              <li>To change the wake word, follow the steps on <a href="/guides/" >Changing the wake word or Assistant</a>.</p>
              </li>
              <li><b>Info</b>: The wake word and Assistant choices are stored on the device and can only be changed via the wizard. The normal configuration settings under <b>Settings</b>  > <b>Voice assistant</b> are not written to the device and don’t apply.
              </li> 
            </ul>
          <p>
      
---
  <div class="container">
    {% for section in sections %}
      <div class="section">
        <h2>{{section.name}}</h2>      
        <div class="accordion">
          {% for faq in section.faqs %}
          <div class="accordion-item">
            <button
              aria-expanded="false"
              id="{{ faq.title | slugify }}"
            >
              <a
                href="#{{ faq.title | slugify }}"
                class="anchor"
              >
                <span class="accordion-title">{{faq.title}}</span
                ><span class="icon" aria-hidden="true"></span>
              </a>
            </button>
            <div class="accordion-content">
              <p>{{faq.content}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
  </div>
<script>
  const items = document.querySelectorAll(".section .accordion button");

  function toggleAccordion() {
    const itemToggle = this.getAttribute("aria-expanded");

    for (i = 0; i < items.length; i++) {
      items[i].setAttribute("aria-expanded", "false");
    }

    if (itemToggle == "false") {
      this.setAttribute("aria-expanded", "true");
    }
  }

  items.forEach((item) => item.addEventListener("click", toggleAccordion));

  const urlParts = document.URL.split('#');
  const anchor = (urlParts.length > 1) ? urlParts[1] : null;
  let openedItem = false;
  for (i = 0; i < items.length; i++) {
    const id = items[i].getAttribute("id");
    if (id == anchor) {
      items[i].setAttribute("aria-expanded", "true");
      openedItem = true;
    }
  }
  if (!openedItem) {
    items[0].setAttribute("aria-expanded", "true");
  }
</script>
